{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shipping Address Form</title>
        <link rel="stylesheet" href="{% static 'css/address.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h2>Shipping Address</h2>
        <div id="address-list">
            <p><strong>Name : </strong> {{ user_details.name }}</p>
            <p><strong>Mobile No. </strong> {{ user_details.phone }}</p>
            <p>{{ user_details.address }}</p>  
        </div>
    </body>
</html>
