{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shipping Address Form</title>
        <link rel="stylesheet" href="{% static 'css/address.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h2>Shipping Address</h2>
        <form action="" method="POST">
            <div id="address-list">
                {% for address in addresses %}
            <p>{{ address.address }}</p>
            {% endfor %}
            </div>
            <button type="button" id="add-address-btn">Add Address</button>
        </form>
        <div id="add-address-form-container" style="display: none;">
            <h3>Add Address</h3>
            
            <form id="add-address-form" method="POST" action="{% url 'shop:address' %}">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>
