{% extends "base.html" %}
  {% load static %}
    {% block title %}
      Shop
    {% endblock title %}
  {% block content %}

    <!-- shop section -->
  <div class="row">
    <div class="col-md-2">
      <div class="heading_container heading_center" style="margin-top: 90px;">
        <h2>
          Filter
        </h2>
      </div>
      <form action="" method="GET">
        <h2 style="font-size:20px">Category</h2>
        {% for cate in category %}
          <div class="form-check" style="margin-top: 20px;">
            <input class="form-check-input" type="checkbox" name="category" value="{{ cate.id }}" id="flexCheckDefault{{ cate.id }}">
            <label class="form-check-label" for="flexCheckDefault{{ cate.id }}">
              {{ cate.name }}
            </label>
          </div>
        {% endfor %}
        <h2 style="font-size:20px; margin-top: 20px;">Price</h2>
        <div class="form-group">
          <label for="minPrice">Min Price</label>
          <input type="number" class="form-control" id="minPrice" name="min_price" placeholder="0">
        </div>
        <div class="form-group">
          <label for="maxPrice">Max Price</label>
          <input type="number" class="form-control" id="maxPrice" name="max_price" placeholder="10000">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Apply Filters</button>
      </form>
    </div>
    <div class="col-md-10">
      <section class="shop_section layout_padding">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Latest Products
            </h2>
          </div>
          <div class="row">
            {% for products in product %}
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="{{ products.image }}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ products.name }}</h5>
                    <p class="card-text">₹{{ products.price }}</p>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>

    <!-- end shop section -->

  {% endblock %}